<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Projects</ion-title>
		<ion-buttons start>
			<button ion-button icon-only (click)="showPopover($event)">
				<ion-icon name="add"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
  <ion-list style="padding-top: 50px;">
  	  <button ion-item (click)="backward()" *ngIf="rootDir!=previousPath">
  	  	<i class="folder-open"></i>
  	  	...
  	  	<div class="folder-path">{{currentPath}}</div>
  	  </button>
	  <ion-item-sliding #item *ngFor="let e of entries">
	    <button ion-item (click)="open(e.isDirectory, e.nativeURL,e.name)">
	      <i *ngIf="e.isDirectory" class="folder"></i>
	      <i *ngIf="e.isFile" class="{{e.name | fileType}}"></i>
	      {{e.name}}
	    </button>
	    <ion-item-options side="left" *ngIf="e.isDirectory">
	      <button ion-button color="primary" (click)="editProject(e.name, e.nativeURL)">
	      <ion-icon name="code-working"></ion-icon>
	      	Edit
	      </button>
	    </ion-item-options>

	    <ion-item-options side="right">
	      <button ion-button color="primary" (click)="showEdit(e.isDirectory, e.name, e.nativeURL)">
	      	<ion-icon name="create"></ion-icon>
	      	Rename
	      </button>
	      <button ion-button color="danger" (click)="showRemove(e.isDirectory, e.name, e.nativeURL)">
	      	<ion-icon name="trash"></ion-icon>
	      	Remove
	      </button>
	    </ion-item-options>
	  </ion-item-sliding>
	</ion-list>
</ion-content>
